<div class="wrapper">
  <div class="side-ber">
    <div class="side-ber-header">
      <div class="header-name">
        <a href="#">ユーザー名</a>
      </div>
      <div class="create-room">
        <a href="#">チャット作成</a>
      </div>
    </div>
    <div class="rooms">
      <div class="room">
        <div class="room-name">
          <a href="#">ルーム１</a>
        </div>
      </div>
      <div class="room">
        <div class="room-name">
          <a href="#">ルーム2</a>
        </div>
      </div>
    </div>
    <%= render "side_ber" %>
  </div>
  <div class="chat">
    <div class="chat-header"></div>
    <div class="messages"></div>
    <div class="form"></div>
    <%= render "main_chat" %>
  </div>
</div>