<div class="wrapper">
  <div class="side-ber">
    <div class="side-ber-header"></div>
    <div class="rooms"></div>
    <%= render "side_ber" %>
  </div>
  <div class="chat">
    <div class="chat-header"></div>
    <div class="messages"></div>
    <div class="form"></div>
    <%= render "main_chat" %>
  </div>
</div>